.hot-dog-comp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.left{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 40px;
}

.count-label {
    display: flex;
    font-size: xx-small;
    justify-content: center;
}

.player-count{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    width: 320px;
    height: 50px;
}

.admin {
    color: red;
}
