.registration-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
    width: 370px;
}